<div align="center">
  <h1>
    {{ title }}!
  </h1>
  <p>This article will show how to implement real-time functionality in Angular Applications using Pusher. We will make an application that gives real-time feedback when a post is clicked. The application will mainly focus on adding real-time functionality to the Angular application.</p>

<p>Real-time functionality is an important component in Modern applications. Users want immediate feedback when interacting with Applications. This has prompted many developers to consider inclusion of this functionality due to tremendous demand.</p>

<h3>What is Pusher</h3>
<p>Pusher is a service that provides developers with API's which enables them to integrate real-time functionalities in web, mobile and backend applications.</p>

  <div align="center">
      <h3>{{claps}}</h3>
  <img width="30" alt="medium Applause" (click)="Applause()" src="../assets/download.png" />

  
    
  </div>
</div>